<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="tieit.tools.automation"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://tieit.tools.automation/tieit.tools.automation.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/tieit.tools.automation/css/default.css">
         </property>
         <property
               name="appName"
               value="tieit.tools.automation">
         </property>
      </product>
   </extension>

</plugin>
